:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.menu .menu-item .link-current {
  color: var(--pressed-state);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------Component-------------------- */
.main-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--dark);
}
/* ----------Header-------------------- */
.header {
  background-color: var(--white);
}
/* -----------Logo------------------- */
.studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  text-decoration: none;
}

.logo {
  color: var(--primary-brand);
}
/*--------------Navigation-------------- */
.navigation .link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: var(--pressed-state);
}

.link-address {
  color: var(--text);
  text-decoration: none;
}
.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address:hover,
.address:focus {
  color: var(--pressed-state);
}
/*-------------- Hero----------------- */
.hero {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.85;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}
.hero-bgc {
  background-color: var(--dark);
}
/* --------Adventages----------------- */
/* .advantage-item {
} */
/* <------------- Product--------- --> */
/* .product-item {
}
.product-foto {
} */
/* <--------------- Team----------- --> */
.team-bgc {
  background-color: var(--light);
}
/* .team-member {
} */
/* <------------------ Footer----------- --> */
.footer {
  background-color: var(--dark);
}
.studio {
  color: var(--light);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
}
/*-------------------PORTFOLIO------------ */
/* -----------Filter-------------- */
.filter-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--light);
  color: var(--primary-brand);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white);
}

/* -------Examples----------- */
/* .examples {
}

.examples-item {
} */
/* .examples-img {

} */
